div,
section,
header,
article,
nav,
footer,
aside
{
    box-sizing:border-box;
}

body
{   
    background-color:rgba(128, 128, 128, 0.637);
    margin:0;

}

#conteneurGlobal
{    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

    #conteneurGlobal > header,
    #conteneurGlobal > nav,
    #contenu,
    #conteneurGlobal > footer,
    #colonneGauche,
    #colonneDroite,
    #colonneGauche section,
    .listeArticles article {
        margin: 5px;
        border-radius: 5px;
    }

    #conteneurGlobal > header {
        background-color: rgb(238, 161, 161);
        flex-basis: 120px;
        display: flex;
        align-items: center;
    }

        #conteneurGlobal > header * {
            margin: 10px;
        }

        #conteneurGlobal > header h1 {
            flex-grow: 1;
            text-align: center;
        }

    #conteneurGlobal > nav {
        background-color: rgb(161, 238, 202);
        flex-basis: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

#contenu
{
    background-color: rgb(161, 188, 238);
    flex-grow:1;

    display:flex;
    flex-direction: row;
}

    #colonneGauche
    {
        background-color: rgb(108, 156, 247);
        flex-grow: 1;

        display: flex;
        flex-direction: column;
    }

    #colonneGauche section
    {
        border:1px solid white;
        flex-grow:1;

        display: flex;
        flex-direction: column;
        padding:10px;
    }

    .listeArticles
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .listeArticles article
    {
        flex-basis:400px;
        background-color: rgb(168, 197, 250);
        padding:10px;
        flex-grow:1;
    }

    #colonneDroite
    {
        background-color: rgb(52, 116, 236);
        flex-basis:200px;
        flex-shrink: 0;
    }

#conteneurGlobal > footer {
    background-color: rgb(238, 230, 161);
    flex-basis: 80px;
}


/*
@media screen and (max-width:640px) and (orientation:landscape)
{
    #colonneDroite
    {
        display: none;
    }
}

@media print
{
    #conteneurGlobal > nav,
    nav {
        display: none;

    }
}*/