
.section
{
    background-color: coral;
    border-radius: 10px;
}

.article
{
    border:2px solid red;
}

a:hover{
    background-color: yellow;
    font-size: 2em;
}

a
{
    background-color: red;
    transition:all 2s ease;
}

.surligne
{
    background-color: yellow;
}

.encadre
{
    background-color:rgb(106, 156, 99);
    border: 2px ridge red;
}


/* sélecteur de classe : <elt class="teaser"/> */
.teaser
{
    color:purple;
    font-family: 'comic sans ms';
}

/* selecteur d'id : <elt id="titrePpal"/> */
#titrePpal
{
    font-size:5em;
    color:sienna;
}

p *
{

}

h1.teaser,
h2.teaser,
h3.teaser
{
    color:black;
}

p a
{
    color:rgb(73, 73, 7);
}

p{
    color:olive;
    font-style:italic;
}

p.teaser
{
    background-color:violet;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(147, 6, 182);
}

img{

    box-shadow: 39px 28px 26px -4px rgba(230,9,230,0.56);
}

h2{
    color:orangered;
    text-decoration: underline;
}