﻿<%@ Page Language="C#"%>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Meteo</title>
    </head>
    <body>
    <%
        string prenom = "Benoît";
        string promo = "AI104";
        string score = "48 - 5";
    %>

    <h1>ScoreBoard</h1>

    <p>
        <%= prenom %> mène contre <%=promo %> 
        par le score de <%=score %>

    </p>


    <% 
    int nbLignes = 5;
    Response.Write("<h1>Le web c'est super !</h1>");
    for (int i = 0; i < nbLignes; i++)
    {
        Response.Write("<p>");
        Response.Write("date courante : " + DateTime.Now);
        Response.Write("</p>");
    }
    //Response.ContentType = "text/html";
    %>

    </body>
</html>