﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Arche.master.cs" Inherits="DemoWeb.Arche" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <header>En tete de ma page</header>
        <nav>menu principal</nav>
        <div>
            <asp:ContentPlaceHolder ID="cphContenu" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <footer>pied de ma page</footer>
    </form>
</body>
</html>
