﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="DemoWeb.Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>



<asp:Content ID="Content2" ContentPlaceHolderID="cphContenu" runat="server">
<section>
    <h1>Bonjour les amis !</h1>
    <p>
        qkjsdklq sdjklkq sdkljqlk dlkjql jqlksjd kjqdk gqsjhcgj
        qskldjh q msqsd sqf sqdfqsdfgdfg qsdxf qsdfcq sdfqsxdf
    </p> 

</section>
</asp:Content>

   