﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="News.aspx.cs" Inherits="DemoWeb.News" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <style>

        p
        {
            background-color:lime;
            color:papayawhip;
        }

    </style>

</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="cphContenu" runat="server">

    <h1>Breaking news</h1>
    <h2>Make ASP.NET Great again</h2>

    <p>sdmlfj sdklfj sdf sgfh ipzjdazpicn jkxbc jkqsbv mojvjlssd lv</p>
    <p>sdmlfj sdklfj sdf sgfh ipzjdazpicn jkxbc jkqsbv mojvjlssd lv</p>
    <p>sdmlfj sdklfj sdf sgfh ipzjdazpicn jkxbc jkqsbv mojvjlssd lv</p>
    <p>sdmlfj sdklfj sdf sgfh ipzjdazpicn jkxbc jkqsbv mojvjlssd lv</p>

</asp:Content>

