﻿<%@ Page Language="C#"%>

<%
    bool optin = Request["chkOptin"] != null;
    string nom = Request["txtNom"];
    string prenom = Request["txtPrenom"];
    string password = Request["txtPassword"];
    string login = Request["txtLogin"];
    string sexe = Request["radSexe"];

    // Insertion d'un nouvel utilisateur en base
%>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <h1>Bienvenue <%= prenom + " " + nom %> :)</h1>

    <%
        if (sexe == "f")
        {
    %>
        <h2>Vous êtes une femme O-+</h2>
    <%
        }
        else
        {
    %>
        <h2>Vous êtes un homme 0-></h2>
    <%
        }
    %>

</body>
</html>
    
